<!DOCTYPE html>
<html>
<head>
    <title>Registration Successful</title>
</head>
<body>
    <h1>Registration Successful</h1>
    <p>User with the following details was successfully registered:</p>
    <ul>
        <li>Username: {{ username }}</li>
        <li>Email: {{ email }}</li>
        <li>Phone: {{ phone }}</li>
        <li>Address: {{ address }}</li>
        <li>User Status: {{ userStatus }}</li>
        <li>Password: {{ password }}</li> <!-- Display the password -->
        <li>First Name: {{ firstName }}</li>
        <li>Last Name: {{ lastName }}</li>
    </ul>
</body>
</html>
