<!DOCTYPE html>
<html>
<head>
    <title>Users</title>
</head>
<body>
    <h1>Users</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Password</th> <!-- Added password field -->
                <th>Phone</th>
                <th>Address</th>
                <th>User Status</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.password }}</td> <!-- Added password field -->
                    <td>{{ user.phone }}</td>
                    <td>{{ user.address }}</td>
                    <td>{{ user.userStatus }}</td>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.lastName }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
